/**
 * Article
 */

 .article__title {
    padding-bottom: $half-spacing-unit;
    border: 1px solid $light-grey;

    //@include box-shadow(0em 0.05em 0.5em $light-grey);
 }

 .article__body {
    max-width: 40em;
    margin: $spacing-unit auto 0 auto;
 }

.article__photo-body {
  text-align: center;
}

.article__photo-body img {
  margin-bottom: $spacing-unit;
}

 .share-page {
    margin-top: $spacing-unit;
 }