/**
 * Container
 */
 html {
  background-color: lighten($light-grey, 20%);
 }

 .container {
    border: 1px solid $light-grey;
    background: $rev;
 }



/**
 * Header
 */

 .header .main-nav {
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $brand-color;
  }

 .logo img {
    @include transition(all 0.75s);
    opacity: 1;
    &:hover {
      opacity: 0.5;
    }
  }



/**
 * Style Helpers
 */

  .bottom-shadow {
    @include box-shadow(0 8px 6px -6px $light-grey);
  }

  /**
   * Various failed children
   
  .round-thumb {
    //opacity: 0.6;

    @include transition(all 0.5s);
    @include border-radius(50em);
  }


  .thumbnail-holder {
    opacity: 0.4;
    @include transition(all 0.5s);
  }

  .post:hover .thumbnail-holder {
      //opacity: 1;
  }

  .post:hover .post__meta {
    opacity: 0.4;
  }
  **/

  .post--hero {
    border-bottom: 1px solid $light-grey;
  }

  .post__meta {
    background: #FFF;
  }

  .post--in-category {
    border-bottom: 1px solid $light-grey;
  }


.nav__catalogue .post {
  border-bottom: 1px solid $light-grey;

  &:first-child {
    border-top: 1px solid $brand-color;
  }
}



/**
 * Footer
 */
 .footer .main-nav {
    border-top: 1px solid $brand-color;
    border-bottom: 1px solid $light-grey;
  }