/**
 * This media query is based on nothing right now
 * This is simply to show the main navigation *will* change
 */

@media screen and (min-width: 48em) { /* this width is arbitrary */
    
    .article__title {
        font-size: 120%;
        //margin-top: $spacing-unit;
        

        background-color: $rev;
        //border-bottom: 1px solid $light-grey;
        //border-top: 1px solid;  
    }


    .post--hero {
      margin-bottom: 2em;

        .post__meta {
            font-size: 120%;
        }
    }



}/* end 60em media query */