/* ==========================================================================
   
   $STRUCTURE
   
   ========================================================================== */


/**
 * Page Container
 */
.container {
    margin: 0 auto;
    max-width: 60em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    margin-top: 0em;
}


/**
 * Header 
 */
 .header {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
 }


/**
 * Main Navigation
 */
 .logo {
    float: left;
 }
 .logo img {
    max-height: 3em;
    width: auto;
 }

 .main-nav {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  padding-top: $half-spacing-unit;
  padding-bottom: $half-spacing-unit;
 }
 
 .main-nav > li {
    margin-left: $half-spacing-unit;
    margin-right: $half-spacing-unit;
 }

 .main-nav > li:first-child {
    margin-left: 0;
 }
 .social-nav {
    float: right;
    margin-top: $half-spacing-unit;
    margin-bottom: $half-spacing-unit;
 }

  
  /**
   * We should regulate images through templates not stretching
   *

   .post img {
      width: 100%;
      height: auto;
   }

   *
   **/


 /**
  * Footer
  */
  .footer {
    margin-top: $spacing-unit;
    padding-bottom: 2em;
  }

  .copyright {
    float: left;
    margin-top: 0;
  }


